h1 {
    color: red;
}

p {
    font-size: 20px;
}

.highlight {
    background-color: wheat;
}

#main-title {
    color: gold;
}

#special-paragraph {
    font-style: italic;
}

ul {
    list-style-type: lower-greek;
}

li {
    color: aqua;
}

div.highlight {
    background-color: blueviolet;
}