* {
    padding: 0;
    /*margin: 0;*/
}

nav a {
    text-decoration: none;
}

li {
    list-style-type: disc;
    margin-left: 2em;
}

.container > .service > article {
    background-color: olive;
}

section + header {
    background-color: #4a0404;
}

section ~ article.service1 {
    color: darkblue;
}

[src^="http"] {
    margin-left: 20px;
}

nav > ul > li:first-child {
    font-weight: bold;
}

div section article:last-of-type{
    font-weight: bolder;
}