* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
    font: 14px/1.5 Lato, sans-serif;
}

h1, h2 {
    padding-block: .5em;
}

p {
    padding-bottom: 1.5em;
}

pre {
    background-color: #eeeeee;
    padding: .5em;
    border-radius: .3em;
}

body::before {
    background: #369;
    border-radius: .3em;
    padding: 1em 1.5em;
    margin-bottom: 2em;
}

@media (hover: none) {
    body::before {
        display: block;
        content: 'This device doesn\0027t support hover';
    }
}

@media (orientation: landscape) {
    body::before {
        display: block;
        content: 'The device is in landscape orientation';
    }
}

@media (width: 600px) {
    body::before {
        display: block;
        content: 'The viewport width is 600px';
    }
}

@media (height: 800px) {
    body::before {
        display: block;
        content: 'The viewport height is 800px';
    }
}