.flex-container {
    border: 2px solid blue;
    display: flex;
    padding: 1em;
    width: 400px;
}

.flex-item {
    border: 2px solid #000000;
    padding: 20px;
    background: #eeeeee;
}

.flex-basis-5em .flex-item {
    flex-basis: 5em;
}

.flex-shrink-zero .flex-item {
    flex-basis: 5em;
    flex-shrink: 0;
}

.flex-grow-one {
    width: 900px;
}

.flex-grow-one .flex-item {
    flex-basis: 5em;
    flex-grow: 1;
}