* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

body {
    background: #eeeeee;
    padding-top: 1em;
}

section {
    background: white;
    width: 1100px;
    height: 410px;
    margin: 0 auto;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    box-shadow: 1px 1px 4px 2px #bbb;
}

header, footer {
    width: 55ch;
    margin: 1em auto;
    text-align: center;
}

header {
    margin-top: 2em;
}

header p {
    font-style: italic;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1em 1em 2em;
    opacity: 65%;
}

main {
    display: flex;
    gap: 3em;
    margin: 3em;
}

article {
    flex-grow: 1;
}

article p {
    font-size: 0.9rem;
    width: 38ch;
}

h4 {
    font-size: 1.1rem;
}

footer {
    font-size: 0.7rem;
    line-height: 1.5;
    width: 90ch;
}

footer p {
    margin-top: 1.5em;
    opacity: 65%;
}

header::after,
footer::before {
    content: '';
    width: 4em;
    margin: 0 auto;
    display: block;
    border: 1px solid #efefef;
}