.flex-container {
    border: 2px solid blue;
    display: flex;
    padding: 1em;
    max-width: 400px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-item {
    border: 2px solid #000000;
    padding: 20px;
    background: #eeeeee;
}

.flex-grow-one .flex-item {
    flex-grow: 1;
}

.flex-grow-2nd-only .flex-item:nth-child(2) {
    flex-grow: 1;
}

.flex-grow-proportional .flex-item:nth-child(1) {
    flex-grow: 1;
}

.flex-grow-proportional .flex-item:nth-child(2) {
    flex-grow: 2;
}

.flex-grow-proportional .flex-item:nth-child(3) {
    flex-grow: 3;
}