.flex-container {
    border: 2px solid blue;
    display: flex;
    padding: 1em;
    max-width: 400px;
}

.flex-item {
    border: 2px solid #000000;
    padding: 20px;
    background: #eeeeee;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}