.flex-container {
    border: 2px solid blue;
    display: flex;
    padding: 1em;
    max-width: 400px;
    height: 200px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-item {
    border: 2px solid #000000;
    padding: 20px;
    background: #eeeeee;
}

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-center {
    align-content: center;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-around {
    align-content: space-around;
}