* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    height: auto;
    font-family: Lato, sans-serif;
    background: #cccccc;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
    justify-content: space-between;
}

section {
    background: #eeeeee;
    border: 5px solid black;
    border-radius: .2em;
    width: 31.4%;
    height: auto;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: relative;
}

img {
    width: 100%;
    height: auto;
    border-radius: .2em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2 );
    margin-top: auto;
    margin-bottom: auto;
    flex-shrink: 1;
}

p {
    position: absolute;
    z-index: 200;
    bottom: 0.5em;
    left: 1em;
    font-style: italic;
    opacity: .5;
    padding: .5em;
    background: transparent;
}

